// ---- # Color -----
$black: #000000;
$blue: #6f7eff;
$darkgray: #3e4554;
$green: #13d7bc;
$pink: #ff6a9c;
$white: #ffffff;

$pink-hover: #d83b6f;

// # Fonts
$font-pt-sans: 'PT Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-rubik: 'Rubik', 'Helvetica Neue', 'Arial', sans-serif;