// ---- # Color -----
$black: #000000;
$blue: #4553da;
$darkgray: #201c1c;
$green: #13d7bc;
$red: #ec3833;
$orange: #e38100;
$white: #ffffff;

$red-hover: #d32722;

// # Fonts
$font-pt-sans: 'PT Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-rubik: 'Rubik', 'Helvetica Neue', 'Arial', sans-serif;