.events {
    &__sorter {
        background-color: #e8e8e8;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
        padding: 22px 35px 0;

        height: 60px;
        width: 100%;
        z-index: 1;

        &-title,
        &-date,
        &-place {
            color: $darkgray;
            font-size: 15px;

            @include inline-block;
        }

        &-title {
            width: calc(100% - 480px);
        }

        &-title,
        &-date {
            cursor: pointer;
            transition: color 0.2s ease;

            & span {
                &:before {
                    content: '';
                    border: 4px solid transparent;
                    border-top: 6px solid $darkgray;

                    transform-origin: 50% 25%;
                    transition: transform 0.2s ease, border-color 0.2s ease;
    
                    position: absolute;
                    top: 7px;
                    right: -15px;
                }
            }

            &:hover {
                color: $blue;

                & span {
                    &:before {
                        border-top-color: $blue;
                    }
                }
            }
        }

        &-date,
        &-place {
            width: 240px;
        }
    }
}

.event-item {
    background-color: $white;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    padding: 21px 35px 0;
    transition: background-color 0.2s ease;

    height: 60px;
    width: 100%;

    &__title,
    &__date,
    &__place {
        color: $darkgray;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.02em;

        @include inline-block;
    }

    &__title {
        width: calc(100% - 480px);
    }

    &__date,
    &__place {
        width: 240px;
    }

    &:hover {
        background-color: #f1f1f1;
    }

    &:last-child {
        border: 0 0 4px 4px;
        border-bottom: none;
    }
}



// # States
.events {
    &__sorter {
        &-title,
        &-date {
            &.is-active {
                color: $blue;

                & span {
                    &:before {
                        border-top-color: $blue;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}