.members {
    &__container {
        box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
    }

    &__sorter {
        background-color: #e8e8e8;
        border-radius: 4px 4px 0 0;
        padding: 22px 35px 0;

        height: 60px;
        width: 100%;
        z-index: 1;

        &-name,
        &-age,
        &-born,
        &-sex,
        &-country {
            @include inline-block;

            color: $darkgray;
            cursor: pointer;
            font-size: 15px;
            transition: color 0.2s ease;

            & span {
                &:before {
                    content: '';
                    border: 4px solid transparent;
                    border-top: 6px solid $darkgray;

                    transform-origin: 50% 25%;
                    transition: transform 0.2s ease, border-color 0.2s ease;

                    position: absolute;
                    top: 7px;
                    right: -15px;
                }
            }

            &:hover {
                color: $blue;

                & span {
                    &:before {
                        border-top-color: $blue;
                    }
                }
            }
        }

        &-name {
            width: calc(100% - 520px);
        }

        &-born {
            width: 180px;
        }

        &-age {
            width: 120px;
        }

        &-sex {
            width: 100px;
        }

        &-country {
            width: 120px;
        }
    }
}

.member-item {
    background-color: $white;
    border-bottom: 1px solid #eeeeee;
    padding: 21px 35px 0;
    transition: background-color 0.2s ease;

    height: 60px;
    width: 100%;

    &:hover {
        background-color: #f1f1f1;
    }

    &:last-child {
        border: 0 0 4px 4px;
        border-bottom: none;
    }

    &__name,
    &__born,
    &__age,
    &__sex,
    &__country {
        color: $darkgray;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.02em;

        @include inline-block;
    }

    &__name {
        width: calc(100% - 520px);
    }

    &__born {
        width: 180px;
    }

    &__age {
        width: 120px;
    }

    &__sex {
        width: 100px;
    }

    &__country {
        width: 120px;
    }
}



// # States
.members {
    &__sorter {

        &-name,
        &-born,
        &-age,
        &-sex,
        &-country {
            &.is-active {
                color: $blue;

                & span {
                    &:before {
                        border-top-color: $blue;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}