body, html,
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, main, mark, output,
div, p, br, img, a, span,
h1, h2, h3, h4, h5, h6,
ul, li, ol,
input, button, textarea, select, option, label,
table, tbody, thead, th, tr, td {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  font-style: normal;
  vertical-align: baseline;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

table {
  border-spacing: 0 0;
}

pre {
  width: 100%;
  white-space: pre-wrap;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, main, mark, output {
  display: block;
}

:focus {
  outline: none;
}

img {
  border: none;
  object-fit: cover;

  display: block;

  @include full-size;
}

svg {
  position: relative;
}

iframe {
  overflow: hidden;
  border: 0;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

form {
  position: relative;
}

input {
  line-height: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea, input {
  border-radius: 0;
  -webkit-appearance: none;
}

label[for] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

blockquote {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  -webkit-padding-start: 0 !important;
}

ul, ol, li {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@viewport {
  user-zoom: fixed;
}