.u-clearfix {

    &:before,
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.u-center {
    text-align: center;
}

.u-padding-bottom {
    padding-bottom: 70px;
}